<body>
    <div class="page-header">
        <h1><a href="/">{{layout_name}}</a></h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">


            <div class="post">
            <div class="date">
                {{date}}
            </div>
            <h2><a href="">{{title}}</a></h2>
            <p>{{text}}</p>

            </div>
        </div>
    </div>
</body>